<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="width=device-width, initial-scale=1" name="viewport">
	<title>Wann kommen heute die Tagesthemen?</title>
	<style type="text/css">
	           body{
	           margin:40px auto;
	           max-width:650px;
	           line-height:1.6;
	           font-size:18px;
	           font-family: sans-serif;
	           color:#444;
	           padding:0 10px
	           }
	           h1,h2,h3 { line-height:1.2 }
	           .reference {
	           font-size: 75%;
	           margin: auto;
	           }
	</style>
</head>
<body>
	<h1>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/11/Tagesthemen_Logo_2015.svg/320px-Tagesthemen_Logo_2015.svg.png">
	</h1>
	<h1>{{when}}</h1>
	<footer>
		<div class="reference">
		<p>
			Sendezeit bezogen von <a href="{{url}}">{{url}}</a>.<br/>
			Logo von <a href="https://commons.wikimedia.org/wiki/File:Tagesthemen_Logo_2015.svg">Wikimedia Commons</a>.
		</p>
		</div>
	</footer>
</body>
</html>
